.footer {
    width: 375px;
    /* min-width: 100%; */
    height: 86px;
   
    background-image: url(../../assets/footer.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #FFF;
}